body{
    height:100vh;
    background-color: #334e70;
}

.my_menu{
    height:5vh;
}

.my_main{
    height:95vh;
    display:flex;
    justify-content:center;
    //align-items:start;
}

.my_btn_submit{
    background-color: #00BDC0;
    border-radius:10px;
    border: 1px solid #1A2C33;
    color: black;
}

.my_card{
    box-shadow: #0d161994 0px 5px 8px;
    background-color: #1A2C33;
    color: #6D7481;
    border-radius: 20px;
}
