input[type="text"] , input[type="number"] , input[type="password"] , input[type="email"], input[type="date"], input[type="time"], select {
	text-align: center !important;
}

textarea {
    text-align: justify !important;
}

.grey_color{
    background-color: #748290;
}

.bordered{
	border: solid 1px #ddd;
}

.text_center{
	text-align: center;
}

.w_4rem{
	width: 4rem;
}

.w_5rem{
	width: 5rem;
}

.w_8rem{
	width: 8rem;
}

.w_12rem{
	width: 12rem;
}

.w_100percent{
	width: 100%;
}

.pad_mar_5px{
	padding: 5px !important;
	margin: 5px !important;
}

.pad_5px{
	padding: 5px !important;
}

.mar_5px{
	margin: 5px !important;
}

.col_blue{
	color: blue;
}

// Quita el padding-right que aparece cuando emerge el modal
.sidebar-mini, .modal-open {
    padding-right: 0px !important;
}

.bg_white{
	background-color: white;
}

.bg_sel{
	background-color: #dda;
}

.display_none{
	display: none;
}

.my_alert_danger{
	background-color: red;
	color: white;
	padding: 5px;
	border-radius: 3px;
}

.overflow_y{
	overflow-y: auto;
	max-height: 45vh;
}

.margin_top{
	margin-top: 0.5rem;
}

#map-action {
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 3px;
  z-index: 1000;
  background: #292929;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  line-height: 10px;
  padding: 6px;
  box-sizing: content-box;
}

.loading_bar {
	display: none;
	position: absolute;
	top: 35%;
	left: 50%;
	width: 250px;
	height: 80px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 15px 0 30px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #444;
	font-size: 14px;
	background: url('/images/loading_bar.gif') no-repeat center 38px #fff;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
	z-index: 9999;
}

.img_feed_detail{
    height: 190px;
    width: 270px;
}

.modal_no_padding_under_sm{
    @media screen and (max-width : #{$break-xs}px ) { /*Hasta X px*/
        padding-right: 3px !important;
        padding-left: 3px !important;
    }
    @media screen and (min-width : #{$break-xs}px ) { /*A partir X px*/
        padding-right: 3rem !important;
        padding-left: 3rem !important;
    }
}
