a:focus {
    outline:0px !important; //Quita bordes/línea de puntos en los enlaces on focus
}

button:focus {
    outline:0px !important; //Quita bordes/línea de puntos en los enlaces on focus
}

.link_grey{
	color: grey;
	text-decoration: none !important;
}