.main_link {
    .nav-icon {
        font-size: 1.5rem !important;
    }
    p{
        font-size: 1rem;
        padding-left: 0.5rem !important;
    }
}

.nav-treeview {
	.nav-item {
		.nav-link {
			//margin-left: 1rem;
            padding: 5px !important;
            .nav-icon{
                font-size: 1rem !important;
            }
            p{
                font-size: 0.8rem !important;
                padding-left: 0rem !important;
            }
		}
	}
}


.brand-image-custom {
	height: 30px !important;
	width: 50px !important;
	opacity: .9;
	//background-color: white !important;
	padding:0.1rem !important;
}
