.no-gutters{
    padding: 0 !important;
}
.my_table{
    margin: 0 !important;
    width: 100% !important;
    border-top-left-radius: 0.3rem !important;
    border-top-right-radius: 0.3rem !important;
}
.my_table thead {
    border-top-left-radius: 0.3rem !important;
    border-top-right-radius: 0.3rem !important;
    //background-color: red !important;
}
.my_table thead tr{
    border-top-left-radius: 0.3rem !important;
    border-top-right-radius: 0.3rem !important;
}

.my_table > tbody > tr > td{
    vertical-align: middle;
    padding: 0.2rem !important;
    //margin: 0 !important;
    text-align: center !important;
}

.my_table > tbody > tr{
    cursor: pointer;
}
.my_table > tbody > tr:nth-child(odd){
    background-color: #E9F1FF;
}
.my_table > tbody > tr:nth-child(even){
    background-color: white;
}

th{
    text-align: center;
    font-variant: small-caps;
}
tr:first-child{
    border-top-left-radius: 0.3rem !important;
}
tr:last-child{
    border-top-right-radius: 0.3rem !important;
}
th:first-child{
    border-top-left-radius: 0.3rem !important;
}
th:last-child{
    border-top-right-radius: 0.3rem !important;
}


.no_padding_under_sm{
    @media screen and (max-width : #{$break-xs}px ) { /*Hasta X px*/
        padding-right: 3px !important;
        padding-left: 3px !important;
    }
    @media screen and (min-width : #{$break-xs}px ) { /*A partir X px*/
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
}
.no_padding{
    padding: 0px !important;
}


.colHiddenAtXS{
    @media screen and (max-width : #{$break-sm}px ) { /*Hasta X px*/
        display: none;
    }
}
.colVisibleAtSM{
    @media screen and (min-width : #{$break-xs}px ) { /*Desde X px*/
        display: inline;
    }
}
.tr_cust_list{
    cursor: pointer;
}

.dataTables_empty{
    text-align: center !important;
}

.td_name{
    text-align: left !important;
}

.dataTables_wrapper button {
    background: #BEBEBE !important;
    color: black;
    border: none;
}
.dataTables_wrapper button:hover {
    background: #5d6974 !important;
    color: white;
    border: none;
}

.img_datatable{
    border-radius: 2px;
}

.mySearch{
    width: 6rem;
}

.btn_showed_if_feed_selected{
    display: none;
}
