.lb_name{
  font-size: 1rem;
}

.small_caps{
     font-variant: small-caps;
}

.only_first_letter{
	display: block;
    @media screen and (min-width : #{$break-sm}px ) { /*A partir X px*/
        display: none;
    }
}
.all_txt{
	display: none;
    @media screen and (min-width : #{$break-sm}px ) { /*A partir X px*/
        display: block;
    }
}

.lowercase{
	text-transform: lowercase;
}
.capitalize{
    text-transform: capitalize;
}

.truncate {
  width: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.div_customer_store_success{
  text-align: center;
  width: 100%;
  background-color: green;
  color: white;
  padding: 0.2rem;
  border-radius: 0.2rem;
}

.noselect { // Text select disabled
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.ellipsisCustName{
  white-space: nowrap;
  width: 12rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto;
  @media screen and (min-width : #{$break-sm}px ) { /*A partir X px*/
    width: 12rem;
  }
  @media screen and (min-width : #{$break-lg}px ) { /*A partir X px*/
    width: 16rem;
  }
  @media screen and (min-width : #{$break-xlg}px ) { /*A partir X px*/
    width: 24rem;
  }
}

.ellipsisCustName2{
  white-space: nowrap;
  width: 14rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto;
}

.myEllipsis{
  @media screen and (max-width : #{$break-sm}px ) { /*Antes de X px*/
    white-space: nowrap;
    width: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
  }
}

.myEllipsisMd{
    white-space: nowrap;
    width: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
}

.myEllipsisLg{
    white-space: nowrap;
    width: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
    @media screen and (min-width : #{$break-sm}px ) { /*A partir X px*/
        width: 7rem;
    }
    @media screen and (min-width : #{$break-md}px ) { /*A partir X px*/
        width: 10rem;
    }
    @media screen and (min-width : #{$break-lg}px ) { /*A partir X px*/
        width: 16rem;
    }
    @media screen and (min-width : #{$break-xlg}px ) { /*A partir X px*/
        width: 20rem;
    }
}

.myEllipsisXlg{
    white-space: nowrap;
    width: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
    @media screen and (min-width : #{$break-sm}px ) { /*A partir X px*/
        width: 14rem;
    }
    @media screen and (min-width : #{$break-md}px ) { /*A partir X px*/
        width: 18rem;
    }
    @media screen and (min-width : #{$break-lg}px ) { /*A partir X px*/
        width: 20rem;
    }
    @media screen and (min-width : #{$break-xlg}px ) { /*A partir X px*/
        width: 46rem;
    }
}

.myRegionLabel{
  font-weight: bolder;
}
