<template>
    <div class="col-xs-1 col-sm-6 col-md-4 col-lg-3 p-2">
        <div class="card my_card p-2">
            <div class="row">
                <div class="col-4 text-center"><h4>{{ feed.publisher }}</h4></div><div class="col-8 text-right"><small>{{ feed.source }}</small></div>
            </div>
            <div class="text-right"><small>{{ feed.published_date }}</small></div>
            <div><h3 style="text-align: justify">{{ feed.title }}</h3></div>
            <div><p style="text-align: justify">{{ feed.subtitle }}</p></div>
            <div><img :src="feed.image" class="feed_img_welcome"></div>
            <div class="comment mt-2"><p class="p-1">{{ feed.body }}</p></div>
        </div>
    </div>
</template>

<script>

export default {
    props:['feed'],
    components:{
    },
    feed(){
        return{
        }
    },
    computed: {
    },
    methods:{
        load(){
            console.log(this.feed)
        }
    },
    mounted(){
        this.load();
    }
}
</script>

<style lang="scss">
    .comment{
        padding: 1rem;
        text-align: justify;
        border-radius: 5px;
        overflow-y: scroll;
        height: 200px;
    }

    .feed_img_welcome{
        border-radius: 5px;
        height: 200px;
        width: 100%;
    }
</style>
