<template>
    <div id="welcome" class="container-fluid">
        <div class="row d-flex flex-row">
            <feed v-for="(el,index) in this.feeds" :key="index" :feed="el"></feed>
        </div>
    </div>
</template>

<script>

import feed from '../components/feed.vue';

export default {
    components:{
        feed
    },
    data(){
        return{
            feeds: []
        }
    },
    methods:{
        load(){
            this.$http.get('/api/getFeedsOfToday',{
            }).then(response => {
                this.feeds = response.body
                console.log('feeds ', this.feeds)
            });
        }
    },
    watch:{
    },
    mounted(){
        this.load();
    }
}
</script>

<style lang="scss" scoped>
</style>

<style lang="scss">
</style>
